                            <section class="panel spotlight medium right" id="first">
								<div class="content span-7">
									<h2 class="major">Who am I?</h2>
									<p>I'm not your average developer, I'm a fullstack developer in naples, Italy. I've been doing this since I was 11, and from then I've never stop pushing to the limits to make beautiful projects!</p>
								</div>
								<div class="image filtered tinted" data-position="top left">
									<img src="static/images/pic02.jpg" alt="" />
								</div>
							</section>